{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
    <a href='{% url 'chat_list' %}' class="btn btn-lg btn-primary">Back to chat list</a>
    <br>
    {%  if current_user.pk is not chat.first_user.pk %}
            <h3>Chatting with {{ chat.first_user }}</h3>
        {%  else  %}
             <h3>Chatting with {{ chat.second_user }}</h3>
        {% endif %}
    {% for message in chat_messages %}
        {% if message.author.pk is current_user.pk %}
            <p>You : {{ message.text }}</p>
        {% else %}
             <p>{{ message.author }} : {{ message.text }}</p>
        {% endif %}
    {% endfor %}
    <form action="{% url 'reply_chat' chat_id=chat.id %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Send message" class="btn btn-primary">
    </form>
    <br>
     </div>
  </div>
</div>
{% endblock %}
